
 interfaces {
     ethernet eth0 {
         address 172.16.0.1/24
     }
     ethernet eth1 {
         address 172.16.1.1/24
     }
 }
 protocols {
     bgp 65000 {
         maximum-paths {
             ebgp 16
         }
         neighbor 172.16.1.16 {
             peer-group K8S
         }
         neighbor 172.16.1.17 {
             peer-group K8S
         }
         neighbor 172.16.1.18 {
             peer-group K8S
         }
         peer-group K8S {
             passive
             remote-as 64512
             update-source 172.16.1.20
         }
     }
 }
 service {
     ssh {
         port 22
     }
 }
 system {
     config-management {
         commit-revisions 100
     }
     console {
         device ttyS0 {
             speed 115200
         }
     }
     host-name vy-01
     login {
         user vyos {
             authentication {
                 encrypted-password ""
                 plaintext-password ""
             }
         }
     }
     syslog {
         global {
             facility all {
                 level info
             }
             facility protocols {
                 level debug
             }
         }
     }
 }